# Server listen address (default: 0.0.0.0:8080)
# LISTEN_ADDR=0.0.0.0:8080

# Set one or more sport team variables (comma-separated ESPN abbreviations).
# At least one must be set for the plugin to return data.

# NFL
# NFL_TEAMS=PHI,DAL,KC

# NBA
# NBA_TEAMS=LAL,BOS

# MLB
# MLB_TEAMS=NYY,LAD

# NHL
# NHL_TEAMS=NYR,BOS

# College Football
# NCAAF_TEAMS=MICH,OSU

# College Basketball
# NCAAM_TEAMS=DUKE,UNC

# MLS
# MLS_TEAMS=ATL,LAFC

# English Premier League
# EPL_TEAMS=LIV,ARS

# UFC / MMA
# UFC_FIGHTERS=
